<p>
 <strong>Full Name:</strong>
 <%= @vote.Full_name %>
</p>

<p>
 <strong>Ruby African Network:</strong>
 <%= @vote.Ruby_African_Network %>
</p>

<p>
 <strong>African Ruby Community:</strong>
 <%= @vote.African_Ruby_Community %>
</p>

<p>
 <strong>Ruby African Community:</strong>
 <%= @vote.Ruby_African_Community %>
</p>

<p>
 <strong>African Ruby Association</strong>
 <%= @vote.African_Ruby_Association %>
</p>

<p>
 <strong>Nairuby</strong>
 <%= @vote.Nairuby %>
</p>

<p>
 <strong>Suggestion</strong>
 <%= @vote.Suggestion %>
</p>
